@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

body {
  padding: 6px;
}

header > ol {
  display: flex;
  align-content: center;
  list-style-type: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.search-results {
  list-style-type: none;
}

.search-results pre {
  white-space: pre-wrap;
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.grow {
  flex: 1;
}

.grow-3 {
  flex: 3;
}

.product-selector > .selected {
  text-decoration: underline;
  background-color: black;
  color: white;
}

.product-selector {
  text-transform: uppercase;
  text-align: center;
}

.product-selector > li {
  padding: 6px;
}

.search-results > li:nth-child(even) {
  background-color: #ECECEC;
}
